@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: RobotoBold;
    src: url("./assets/fonts/Roboto-Bold.ttf");
}
:root {
    box-sizing: border-box;
    font-size: 16px;
    --tomato: hsl(4, 100%, 67%);
    --tomato-o: hsla(4, 100%, 67%, 15%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --gray: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    font-family: Roboto, sans-serif;
    color: var(--dark-slate-grey);
}
*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.text-header {
    font-size: 40px;
    font-family: RobotoBold;
}
.text-body {
    font-size: 16px;
    font-family: Roboto;
    line-height: 24px;
}
.text-bodySB {
    font-size: 12px;
    font-family: RobotoBold;
    line-height: 18px;
}
main {
    background-color: var(--white);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.banner {
    width: 100%;
}
.banner img {
    width: 100%;
}
.content {
    display:flex;
    flex-direction: column;
    margin: 1.5em;
}
.content > * + * {
    margin-top: 24px;
}
li {
    list-style-type:none;
    margin: 0;
    padding-left: 32px;
    background : url("./assets/images/icon-list.svg") no-repeat top left; 
}
li + li {
    margin-top: 10px;
}
form {
    width: 100%;
}
input, button {
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    outline: none;
}
form > * {
    margin-top: 1em;
}
#email:not(:placeholder-shown):invalid {
    background-color: var(--tomato-o);
    border: solid 1pt var(--tomato);
    color: var(--tomato);
}
.input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 24px 64px;
}
.input-group > input {
    grid-column: 1/3;
    grid-row: 2/3;
}
.input-group > label {
    grid-column: 1/2;
    grid-row: 1/2;
}
.input-group > span {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: right;
}
#email-err {
    color: var(--tomato);
    font-size: 12px;
    visibility: hidden;
}
#form:invalid:focus-within #email-err {
    visibility: visible;
}
#submit, #dismiss{
    background-color: var(--dark-slate-grey);
    color: var(--white);
}
#email:hover, #email:focus {
    cursor: pointer;
}
#submit:hover, #submit:focus, #dismiss:hover, #dismiss:focus {
    cursor: pointer;
    background-image: linear-gradient(to left, #FF6A3A, #FF527B);
}
#confirmation {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    z-index: 1;
    padding: 100px 1.5em;
}
#confirmation.hidden {
    display: none;
}
#confirmation img {
    width: 64px;
    height: 64px;
}
#confirmation h2 > emp {
    font-family: RobotoBold;
}
#confirmation .container {
    align-items: normal;
}
#confirmation .container > * + * {
    margin-bottom: 2rem;
}
#dismiss {
    position: fixed;
    bottom: 48px;
    left: 1.5em;
    right: 1.5em;
    width: calc(100% - 3em);
}
@media only screen and (min-width: 700px) {
    body {
        background-color: var(--charcoal-grey);
    }
    main {
        margin: 5rem auto;
        max-width: 900px;
    }
    main {
        padding: 24px;
        border-radius: 36px;
    }
    main > .container {
        flex-direction: row-reverse;
    }
    .banner {
        flex: 1 1 50%;
    }
    .content {
        flex: 1 1 50%;
        align-items: normal;
    }
    #confirmation {
        background-color: var(--charcoal-grey);
    }    
    #confirmation .success {
        width: 500px;
        height: 520px;
        margin: 50px auto;
        padding: 24px;
        background-color: var(--white);
        border: solid 1pt var(--dark-slate-grey);
        border-radius: 36px;
        position: relative;
    }
    #dismiss {
        position: absolute;
        left: 3em;
        right: 3em;
        width: calc(100% - 6em);
    }
}
